endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}}"

sets sv_projectName "ShadowCity RP"
sets sv_projectDesc "Custom RP Framework (SCRP)"
sets tags "roleplay, german, custom, scrp"

set mysql_connection_string "{{dbConnectionString}}"

Dependenciessv_maxclients {{maxClients}}
set onesync on
set locale "de-DE"

# Default CFX
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents

# Dependencies
ensure oxmysql

# SCRP Core Stack
ensure scrp_config
ensure scrp_lib
ensure scrp_db
ensure scrp_core
ensure scrp_player
ensure scrp_characters
ensure scrp_spawn
ensure scrp_charselect_test
ensure scrp_money
ensure scrp_permissions
ensure scrp_notify
ensure scrp_menu